html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ここからCSSを書いていきましょう */
header{
  background-image:url(https://prog-8.com/images/html/advanced/top.png);
  background-size:cover;
}
.headline{
  background-color:rgba(34,49,52,0.9);
  height:65px;
}
.headline .image{
  width:1170px;
  margin:auto;
}
.headline img{
  padding-top:20px;
  width:124px;
}
.headline a{
  background-color:rgba(255,255,255,0.3);
  padding-right:25px;
  padding-left:25px;
  float:right;
  line-height:65px;
  display:block;
  color:rgba(255,255,255,1);
}
header .header{
  color:#fff;
  padding-top:115px;
  padding-bottom:100px;
  width:1170px;
  margin:0px auto;
  text-align:center;
}
header h1{
  font-size:45px;
  letter-spacing:5px;
}
header .header-copy{
  padding-bottom:30px;
  opacity:0.7;
}
.btn{
  opacity:0.8;
  color:#fff;
  padding:8px 24px;
  margin-right:10px;
  display:inline-block;
  border-radius:4px;
}
.btn-wrapper p{
  opacity:0.7;
}
.signup{
  background-color:#239b76;
}
.btn-wrapper p{
  padding-top:15px;
  padding-bottom:15px;
}
.facebook{
  background-color:#3b5998;
}
.twitter{
  background-color:#55acee;
}
.main{
  background-color:#f7f7f7;
}
.main-wrapper{
  height:580px;
  width:1170px;
  margin:auto;
}
.lesson-wrapper{
  text-align:center;
  height:580px;
}
h2{
  color:#5f5d60;
  text-align:center;
  padding-top:80px;
  padding-bottom:50px;
  font-weight:normal;
}
.lessons{
  width:25%;
  float:left;
}
.lesson-icon{
  position:relative;
}
.lesson-icon p{
  position:absolute;
  top:44%;
  width:100%;
  color:white;
}
.lesson-content{
  width:80%;
  font-size:13px;
  color:#b3aeb5;
  display:inline-block;
  margin-top:15px;
}
.message-wrapper{
  width:1170px;
  margin:auto;
  text-align:center;
}
.message{
  padding-top:80px;
}
h3{
  color:#5f5d60;
}
.message-wrapper p{
  color:#5f5d60;
  opacity:0.8;
}
.message-wrapper a{
  display:inline-block;
  background-color:#5dca88;
  padding:15px 40px;
  margin-top:50px;
  margin-bottom:80px;
  box-shadow:0px 7px #1a7940;
  opacity:0.8;
  color:#f5f5f5;
}
footer{
  width:1170px;
  margin:auto;
}
footer img{
  width:124px;
  padding-top:30px;
  border-top:1px #eee;
}
footer p{
  font-size:12px;
  padding-bottom:30px;
  color:#b3aeb5;
}
